.button{
  width: auto;
  padding: 0.5em;
  display: inline-block;
  height: 2em;
  font-size: 16px;
}
.control-buttons :not(:last-child){
  margin-right: 1em;
}
.control-buttons{
  display: inline;
  position: fixed;
  top: 3em;
  right: 3em;
}
